h1, h4{
    color: #7cb5ec;
}
.min-height-100{
    min-height: 100vh;
}

h4 span{
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
.nav-link{
    cursor: pointer;
    text-align: center;
}
.nav-link img{
    width: 45px;
}
.nav-link span{
    display: block;
    margin-top: 8px;
    font-weight: bold;
    color: #98c2dc;
}
.nav-link.active{
    background-color: #f8f9fa;
}
.check-status{
    display: none;
}
.check-status.active{
    display: block;
}