extends ./_layout.jade

block vars
  - var page_title = "Penghasil Bagan - Muka";
  - var page_name = "index";

block content
  include ./includes/menu-top.jade
  div.container-fluid
    div.row
      include ./includes/menu-side-left.jade

      div.col-sm-10.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1 Tutorial di Sini