extends ./_layout.jade

block vars
  - var page_title = "Penghasil Bagan - Pai";
  - var page_name = "pai";

block content
  include ./includes/menu-top.jade
  div#pie-chart.container-fluid
    div.row
      include ./includes/menu-side-left.jade

      div.col-sm-10.col-sm-offset-3.col-md-10.col-md-offset-2.main
        
        div.col-md-12.col-sm-12
          h1 Bagan Pai
        div.col-md-6.col-sm-6
          
          form.form-horizontal
            h4 Info
            div.form-group
              div.col-md-12.col-sm-12
                label.control-label(for="chart-title") Judul
                input.form-control(type="text", id="chart-title", name="chart-title" placeholder="Judul Bagan", maxlength="100")
            div.form-group
              div.col-md-12.col-sm-12
                label.control-label(for="chart-data-source") Sumber Data
                input.form-control(type="text", id="chart-data-source", name="chart-data-source" placeholder="Sumber data", maxlength="100")
            
            h4 Dimensi
            div.form-group
              div.col-md-6.col-sm-6.col-xs-6
                label.control-label(for="chart-width") Lebar (piksel)
                input.form-control(type="text", id="chart-width", placeholder="Berupa angka, dalam satuan piksel", maxlength="3", value="630", disabled)
              div.col-md-6.col-sm-6.col-xs-6
                label.control-label(for="chart-height") Tinggi (piksel)
                input.form-control(type="text", id="chart-height", placeholder="Berupa angka, dalam satuan piksel", maxlength="3", value="354")

            h4 Opsi
            div.form-group
              div.col-md-6.col-sm-6.col-xs-6
                label.control-label Posisi Legenda
                select#legend-position.form-control
                  option(value="top") Atas
                  option(value="bottom") Bawah
                  option(value="labeled") Berlabel
                  option(value="right") Kanan
                  option(value="left") Kiri
            
            div.form-group
              div.col-md-4.col-sm-4.col-xs-4
                div.radio
                  label
                    input#isStandard(type="radio", name="pieStyle", checked) 
                    | Bentuk Standar

              div.col-md-4.col-sm-4.col-xs-4
                div.radio
                  label
                    input#is3D(type="radio", name="pieStyle") 
                    | Bentuk 3D
              div.col-md-4.col-sm-4.col-xs-4
                div.radio
                  label
                    input#isDonut(type="radio", name="pieStyle") 
                    | Bentuk Donat

            h4 Tabel Data
            div#table-column.form-group
              div.col-md-6.col-sm-6.col-xs-6
                label.control-label Nama Kolom
              div.col-md-6.col-sm-6.col-xs-6.txt-right
                label.control-label &nbsp;
                //-   a#btn-add-table-column(href="#") Tambah kolom
                //-   | &nbsp;|&nbsp;
                //-   a#btn-remove-table-column(href="#") Kurangi kolom
              div.col-flexible.col-md-6.col-sm-6.col-xs-6
                input.form-control.table-column-names(type="text", maxlength="25")
              div.col-flexible.col-md-6.col-sm-6.col-xs-6
                input.form-control.table-column-names(type="text", maxlength="25")
            
            div.table-rows.form-group
              div.col-md-12.col-sm-12.col-xs-12
                label.control-label Baris Data
              div.col-flexible.col-md-6.col-sm-6.col-xs-6
                input.form-control.table-rows-input(type="text", placeholder="Nama data", maxlength="25")
              div.col-flexible.col-md-6.col-sm-6.col-xs-6
                input.form-control.table-rows-input(type="text", placeholder="Angka", maxlength="255")

            div#new-table-row
                
            div.form-group
              div.col-md-12.col-sm-12.col-xs-12.txt-right
                a#btn-add-table-row(href="#") Tambah baris data
                
            div.form-group
              div.col-md-12.col-sm-12.col-xs-12.txt-right
                button#btn-submit.btn.btn-primary(type="submit") Bikin Kodenya
                button.btn.btn-warning(type="reset") Setel Ulang

            div.form-group
              div.col-md-12.col-sm-12.col-xs-12
                h2 Salin kode berikut:
              div.col-md-12.col-sm-12.col-xs-12
                textarea#chart-code.form-control
            //- div.form-group
            //-   div.col-md-12.col-sm-12.col-xs-12.txt-right
            //-     button.btn.btn-success(type="submit") Salin Kode
          
        div.col-md-6.col-sm-6
          div#result
          p(style="display: block; width:100%; font-size: 11px; color: #949494; padding:5px 0; margin:0;")
          //- p Hasilnya di sini

            

