- var menu = ['index', 'balok', 'kolom', 'pai']


div.col-sm-2.col-md-2.sidebar
  ul.nav.nav-sidebar
    each item in menu
      if page_name==item
        li.active
          a(href="#{item}.html")= item
            span.sr-only (current)
      else
        li
          a(href="#{item}.html")= item
  
  //- p #{page_name}